<div class="container">
    <br />
    <h1 class="text-center">{{title}}</h1>
    <table class="table">
        <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Price</th>
        <th>Stock</th>
        </thead>
        <tbody>
            <tr *ngFor="let p of stock">
                <td>{{p.id}}</td>
                <td>{{p.title}}</td>
                <td>{{p.price}}</td>
                <td>{{p.stock}}</td>
                <td><bwm-stocklist [stockid] ='p.id' [stock]='p.stock' (updateStock)='changeStockValue($event)'></bwm-stocklist></td>
            </tr>
        </tbody>
    </table>
</div>
